.slots-loading, .indexed-slots-loading {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.4);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
}

.slots-loading:before, .indexed-slots-loading:before {
  content: "Loading...";
  display: flex;
  top: 0;
  left: 0;
  color: white;
  right: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.block-relative {
  position: relative;
}
